#devise-form
  %h2= t('devise.passwords.change_title')
  = simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: {class: 'form-horizontal', method: :put }) do |f|
    = f.hidden_field :reset_password_token
    = f.input :password, label: t('devise.passwords.new'), autofocus: true
    = f.input :password_confirmation
    .control-group
      .controls
        = f.button :submit, t('devise.passwords.change')
  = render "devise/shared/links"

