#devise-form
  %h2= t('devise.passwords.forgot')
  = simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: {class: 'form-horizontal', method: :post }) do |f|
    = f.input :email, autofocus: true
    .control-group
      .controls
        = f.button :submit, t('devise.passwords.send_me')
  = render "devise/shared/links"
