%title= @title || 'Application'
= stylesheet_link_tag 'application', :media => "all"
= javascript_include_tag 'application'
- unless controller_name == 'sessions' || controller_name == 'registrations'
  = stylesheet_link_tag controller_name, :media => "all"
  = javascript_include_tag controller_name
= csrf_meta_tags