%title= @page.try(:title_seo).presence || @page.try(:title).presence

-# Include all basics stylesheets and javascripts
= stylesheet_link_tag 'application', :media => "all"
= javascript_include_tag 'application'

-# Include basics stylesheets and javascripts for current controller
- unless controller_name == 'sessions' || controller_name == 'registrations'
  = stylesheet_link_tag controller_name, :media => "all"
  = javascript_include_tag controller_name

-# Include stylesheets and javascripts for admin
- if admin?
  = stylesheet_link_tag 'whitekit/styles', :media => "all"
  = javascript_include_tag 'whitekit/controls'

%meta{:content => @page.try(:keywords), :name => 'keywords'}/
%meta{:content => @page.try(:description), :name => 'description'}/
= csrf_meta_tags