!!!
%html
  %head
    = render 'layouts/head'
  %body{id: controller_name}
    = render 'layouts/main_menu'
    = breadcrumbs @page if @page.present?
    = render 'layouts/messages'
    = yield
    = BlockPosition.view :left
