!!!
%html
  %head
    = render 'layouts/head'
  %body{id: controller_name}
    #wrapper
      #header
      #middle
        #container
          #content
            = breadcrumbs @page if @page.present?
            = render 'layouts/messages'
            = yield
        #side-left.sidebar
          = render 'layouts/main_menu'
        #side-right.sidebar
          = BlockPosition.view :right
    #footer
      = Block.view :copyright
