!!!
%html
  %head
    = render 'layouts/head'
  %body{id: controller_name}
    = render 'white/tools' # need for admin
    #wrapper
      #header
        = render 'devise/menu/auth_items'
      #middle
        #container
          #content
            = breadcrumbs @page if @page.present?
            = render 'layouts/messages'
            = block_view :news
            = yield
        #side-left.sidebar
          = render 'layouts/main_menu'
        #side-right.sidebar
          = block_position_view :right
          = block_view :latest_news, cache: true
    #footer
      = block_view :whitecms
