!!!
%html
  %head
    = render 'layouts/head'
  %body{id: controller_name}
    %p.notice{style: display_none_if(!notice)}= notice
    %p.alert{style: display_none_if(!alert)}= alert
    = render 'layouts/menu'
    = yield
