!!!
%html
  %head
    = render 'layouts/head'
  %body{id: controller_name}
    = render 'whitekit/tools' # need for admin
    #wrapper
      #header
        = render 'devise/menu/auth_items'
      #middle
        #container
          #content
            = render 'layouts/messages'
            = breadcrumbs
            = yield
        #side-left.sidebar
          = render 'layouts/main_menu'
        #side-right.sidebar
          = block_position_view :right
    #footer
      = block_view :copyright
